@model IEnumerable<WebApplication2.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
