@model WebApplication2.Models.ViewModels.Admin.Entities.AProducts

    <div class="product-details">
        <h4>Details</h4>
        <hr />
        @if (Model.choosenProduct.id != 0)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.supplier)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.supplier)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.summary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.summary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.choosenProduct.category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.choosenProduct.category)
                </dd>
            </dl>
        }

    </div>