@model WebApplication2.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.promotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.promotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ordered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ordered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
