@model WebApplication2.Models.ViewModels.Admin.AOrders
@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewBag.sort</h1>

<div>
    <h1>Shopping Cart List</h1>
    <table class="table">
        <thead>
            <form asp-action="Orders" method="get">
                <div>
                    Find by user:
                    <input type="text" name="cSrch" />
                    <input type="submit" class="btn btn-primary" value="search" />
                    <a asp-action="Orders" asp-route-cId="0">Back to full list</a>
                </div>
            </form>
            <tr>
                <th>
                    @Html.DisplayName("id")
                </th>
                <th>
                    @Html.DisplayName("customer")
                </th>
                <th>
                    @Html.DisplayName("created")
                </th>
                <th>
                    @Html.DisplayName("discard")
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var or in Model.shoppingCarts)
            {
                <tr>
                    <td>@Html.DisplayFor(m => or.id)</td>
                    <td>@Html.DisplayFor(m => or.customer)</td>
                    <td>@Html.DisplayFor(m => or.created)</td>
                    <td>@Html.DisplayFor(m => or.discard)</td>
                    <td>
                        <a asp-action="Orders" asp-route-func="delete" asp-route-cId="@or.id">Delete</a>
                        <a asp-action="Orders" asp-route-func="details" asp-route-cId="@or.id">Details</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @for (int i = 1; i <= ViewBag.totalCPage; i++)
    {
        <a asp-action="Orders" asp-route-cPageId="@i">@i</a>
    }
</div>
<div>
    <hr />
    <h1>Items List</h1>
    <table class="table">
        <thead>
            <div>
                <form asp-action="Orders" method="get">
                    <div>
                        Find by product:
                        <input type="text" name="iSrch" />
                        <input type="submit" class="btn btn-primary" value="search" />
                        <a asp-action="Orders" asp-route-cId="0" asp-route-oId="0">Back to full list</a>
                    </div>
                </form>
            </div>
            <tr>
                <th>@Html.DisplayName("id")</th>
                <th>@Html.DisplayName("product")</th>
                <th>@Html.DisplayName("cart")</th>
                <th>@Html.DisplayName("order")</th>
                <th>@Html.DisplayName("price")</th>
                <th>@Html.DisplayName("quantity")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var or in Model.items)
            {
                <tr>
                    <td>@Html.DisplayFor(m => or.id)</td>

                    <td>@Html.DisplayFor(m => or.product)</td>

                    <td>@Html.DisplayFor(m => or.cart)</td>

                    <td>@Html.DisplayFor(m => or.order)</td>

                    <td>@Html.DisplayFor(m => or.price)</td>

                    <td>@Html.DisplayFor(m => or.quantity)</td>

                    <td>
                        <a asp-action="Orders" asp-route-func="delete" asp-route-iId="@or.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @for (int i = 1; i <= ViewBag.totalIPage; i++)
    {
        <a asp-action="Orders" asp-route-iPageId="@i">@i</a>
    }
</div>
<div>
    <h1>Order List</h1>
    <table class="table">
        <thead>

            <form asp-action="Orders" method="get">
                <div>
                    Find by user:
                    <input type="text" name="oSrch" />
                    <input type="submit" class="btn btn-primary" value="search" />
                    <a asp-action="Orders" asp-route-oId="0">Back to full list</a>
                </div>
            </form>

            <tr>
                <th>
                    @Html.DisplayName("id")
                </th>
                <th>

                    @Html.DisplayName("customer")

                </th>
                <th>

                    @Html.DisplayName("promotion")

                </th>
                <th>

                    @Html.DisplayName("orders")

                </th>
                <th>
                    @Html.DisplayName("address")
                </th>
                <th>

                    @Html.DisplayName("status")

                </th>
                <th>
                    @Html.DisplayName("total")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var or in Model.orders)
            {
                <tr>
                    <td>@Html.DisplayFor(m => or.id)</td>

                    <td>@Html.DisplayFor(m => or.customer)</td>

                    <td>@Html.DisplayFor(m => or.promotion)</td>

                    <td>@Html.DisplayFor(m => or.ordered)</td>

                    <td>@Html.DisplayFor(m => or.address)</td>

                    <td>@Html.DisplayFor(m => or.status)</td>

                    <td>@Html.DisplayFor(m => or.total)</td>
                    <td>
                        <a asp-action="Orders" asp-route-func="delete" asp-route-oId="@or.id">Delete</a>
                        <a asp-action="Orders" asp-route-func="details" asp-route-oId="@or.id">Details</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @for (int i = 1; i <= ViewBag.totalOPage; i++)
    {
        <a asp-action="Orders" asp-route-oPageId="@i">@i</a>
    }
</div>
<div>

    <h1>Payment infor</h1>
    <table class="table">
        <thead>
            <form asp-action="Payment" method="get">
                <div>
                    Find by order:
                    <input type="text" name="cSrch" />
                    <input type="submit" class="btn btn-primary" value="search" />
                    <a asp-action="Payment" asp-route-cId="0">Back to full list</a>
                </div>
            </form>
            <tr>
                <th>@Html.DisplayName("id")</th>
                <th>@Html.DisplayName("order")</th>
                <th>@Html.DisplayName("paid")</th>
                <th>@Html.DisplayName("payer")</th>
                <th>@Html.DisplayName("method")</th>
                <th>@Html.DisplayName("note")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var or in Model.payments)
            {
                <tr>
                    <td>@Html.DisplayFor(m => or.id)</td>

                    <td>@Html.DisplayFor(m => or.order)</td>

                    <td>@Html.DisplayFor(m => or.paid)</td>

                    <td>@Html.DisplayFor(m => or.payer)</td>

                    <td>@Html.DisplayFor(m => or.method)</td>

                    <td>@Html.DisplayFor(m => or.note)</td>
                </tr>
            }
        </tbody>
    </table>
    @for (int i = 1; i <= ViewBag.totalYPage; i++)
    {
        <a asp-action="Orders" asp-route-yPageId="@i">@i</a>
    }
</div>