@model WebApplication2.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoppingCart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discard)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
